@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  @apply bg-gray-100 text-gray-900 antialiased;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  line-height: 1.5;
}
